extends layout

block content
  h1= category.name
  style.
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px; /* Adjust this value for spacing between items */
      margin-bottom:20px;
    }
    .item {
      border: 1px solid #ddd;
      padding: 10px;
      width: 250px; /* Adjust this value for item container width */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
    }
    .item img {
      width: 100%; /* Adjust this value for image width */
      height: 150px; /* Adjust this value for image height */
      object-fit: cover; /* This will make sure the images are resized properly */
      margin-bottom: 10px;
    }
    .item-name {
      font-weight: bold;
    }
    .item-price {
      color: #0077cc;
    }
    .item-buttons {
      margin-top: 10px;
    }
    .item-button {
      margin-right: 5px;
      padding: 5px 10px;
      font-size: 14px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    .edit-button {
      background-color: #0077cc;
      color: white;
    }
    .delete-button {
      background-color: #cc0000;
      color: white;
    }

  if category_items.length > 0
    p #[strong Delete the following items before attempting to delete this Category.]
    .flex-container
      each item in category_items
        .item
          img(src=item.imageUrl alt=item.name)
          .item-name= item.name
          .item-description= item.description
          .item-price= "$" + item.price
          .item-buttons
            a.item-button.edit-button(href=`/${category._id}/${item._id}/update`) Edit
            a.item-button.delete-button(href=`/${category._id}/${item._id}/delete`) Delete
  else
    p Do you really want to delete this Category?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden', name='categoryid', required='true', value=category._id)

      button.btn.btn-primary(type='submit') Delete
