extends layout

block content
  h1= title
  p Welcome to #[em Inventory Application], a very basic Express website developed as an Odin project example on the NodeJS part in the website.

  h1 Dynamic content

  p The Inventory has the following record counts:

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Items:] !{item_count}
    li #[strong Category copies available:] !{category_count_available}
    li #[strong Item copies available:] !{item_count_available}